{% extends "basepage.html" %}

{% block content %}

  <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 formulario">
            {% if form.errors %}
                <p class="txtB">Usuário ou senha não batem, tente novamente.</p>
            {% endif %}
            {% if next %}
                {% if user.is_authenticated %}
                    <p class="txtB">Sua conte não tem permissão para acessar essa página</p>
                {% else %}
                    <p class='txtB'>Faça login para ter acesso a essa página.</p>
                {% endif %}
            {% endif %}
            <form method="post" action="{% url 'login' %}" >
                {% csrf_token %}
                <table>
                <tr>
                    <td class="txtB">{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr><td><br></td></tr>
                <tr>
                    <td class="txtB">{{ form.password.label_tag }} </td>
                    <td>{{ form.password }}</td>
                </tr>
                </table>
                <input  class="btn btn-primary" type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <!--<p><a href="{% url 'password_reset' %}">Esqueci a senha?</a></p>-->
        </div>
    </div>
  

  

{% endblock %}